.navbar {
  background-color: #6e40f3 !important; /* Changing the background color of the navbar */
  padding: 0.001px 0; /* Adjust as needed */
  margin: -1px 0; /* Adjust as needed */
}
.navbar-brand {
  font-family: 'Anton', sans-serif; /* Applying the Anton font */
  font-size: 2em; /* Making the text bigger */
  color: white !important; /* Changing the font color to white */
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.left-content {
  flex: 1;

}
body {
  background-color: #1F2334; /* Changing the background color to #1F2334 */
}

.jumbotron, .container, .footer {
  background-color: inherit; /* Ensuring these elements keep their original background color */
}

.jumbotron {
  color: white; /* Changing the text color to white */
}

.unique-github {
  margin-left: 30px; /* Adjust this value to move the GitHub icon more or less to the left */

}

.container {
  display: flex;
  justify-content: flex-start; /* This will align the items to the start of the container */
}

.henvagdev-icon {
  padding-left: 0;

}

body {
  zoom: 2;
  background-color: #1F2334; /* Changing the background color to #1F2334 */
}

.arrow-icon {
  display: block;
  margin-left: 27px; /* Adjust this value to move the arrow more or less to the left */
  padding-top: 10px;
  height: 50px;
}

body {
  position: relative; /* Make the body position relative */
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
}

.footer {
  position: fixed; /* Make the footer position fixed */
  bottom: 0; /* Position the footer at the bottom */
  width: 100%; /* Make the footer take up the full width */
  background-color: #000000 !important; /* Changing the background color to black */
}

.spotify-section {
  /* position: fixed; Remove this line */
  right: 20px; /* Adjust this value to move the section more or less to the left */
  top: 15%; /* Adjust this value to move the section up or down */
}
.spotify-player {
  width: 300px;
  height: 380px;
}



@font-face {
  font-family: 'Circular';
  src: url('fonts/ProductSans-Black.ttf'); /* Update the URL to match the path to your font file */
}


#login {
  background-color: #1ed760; /* Spotify green color */
  color: black; /* Change the font color to black */
  border: none;
  padding: 8px 20px; /* Reduced padding to make the button smaller */
  text-align: center;
  text-decoration: none;
  display: block; /* Change to block to allow margins to center the button */
  font-size: 12px; /* Reduced font size to make the button smaller */
  margin: 20px auto; /* Increased top margin to move the button down and auto left and right margins to center it horizontally */
  cursor: pointer;
  border-radius: 25px; /* Slightly rounded corners */
  font-family: 'Circular', sans-serif; /* Apply the Circular font */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-content {
  display: flex;
  justify-content: flex-start; /* This will align the items to the start of the container */
  flex: 1;
}

.right-content {
  display: flex;
  justify-content: center;
  flex: 1;
}

.projects-button {
  margin-left: 100px; /* Adjust this value to move the button more or less to the right */
  font-family: 'Circular', sans-serif;
  color: black; /* Change the font color to black */
  background-color: #5c40f3; /* Change the background color to #6e40f3 */
  text-align: center;
  height: 35px; /* Adjust this value to make the button taller or shorter */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px; /* Adjust this value to move the button up or down */


}



.music-text {
  font-family: 'Circular', sans-serif;
  color: white; /* This will make the text color white */
  text-align: center; /* This will center the text */
}



.fade-out {
  transition: opacity 1s;
  opacity: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s;
}




.small-spotify-player {
  width: 150px;
  height: 250px;
}




.menu-image {
    height: 24px; /* Adjust as needed */
    width: 24px; /* Adjust as needed */
}


.project {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6e40f3;;
}

.project img {
  width: 254px;
  height: 130px;
  display: block;
  margin: auto;
}




.project-info h2 {
  text-align: center;
  color: black;
  font: 16px 'Circular', sans-serif;

}

.project-info p {
  text-align: center;
  color: black;
  font: 12px 'Circular', sans-serif;

}



#top-tracks {
  margin-top: 20px; /* Add some space above the top tracks */
  color: white; /* Make the text color white */
  font-family: 'Circular', sans-serif; /* Use the Circular font */
}


.track {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.album-cover {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.track-name {
  font-weight: bold;
  margin-right: 10px;
  font-size: 8px;
}

.artist-name {
  color: gray;
   font-size: 8px;
}


#audio-player {
   display: none;
}



#custom-audio-player {
  /* Style the player to your liking */
  width: 200px ;
  height: 50px;
}

#play-pause-button {
  /* Style the play/pause button to your liking */
}

#progress-bar {
  /* Style the progress bar to your liking */
}





.smaller-text {
  font-size: 0.5em; /* Adjust this value to your liking */
}

.hide-element {
  display: none;
}




.music-box {
  width: 300px;
  height: 300px;
  border: 1px solid #6e40f3;
  position: fixed;
  right: 60px;
  top: 120px; /* Adjust this value to move the box downwards */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}



/* Styles for screens that are less than or equal to 1920px */
@media (max-width: 1920px) {
  .music-box {
    width: 200px;
    height: 200px;
    font-size: 0.8em; /* Adjust this value to your liking */
  }
}

/* Styles for screens that are more than 1920px */
@media (min-width: 1921px) {
  .music-box {
    width: 300px;
    height: 300px;
    font-size: 1em; /* Reset the font size to the default */
  }
}

/* Mobile version down here*/


@media (max-width: 600px) {
  .spotify-player,
  body #login,
  .music-text {
    display: none;
  }
}



/* Style the dropdown button */
.dropbtn {
  background-color: #6e40f3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;





}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0; /* Make it invisible by default */
  transition: opacity 0.5s; /* Add a transition */
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%);



}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1; /* Make it fully visible when hovered over */
  background-color: #000000;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #1f2334;
  border-radius: 15px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #5c40f3;
  border-radius: 15px;
}


.dropdown {
  position: relative;
  right: 22px; /* Adjust as needed */
}




@media (max-width: 600px) {
  .github-logo,
  .projects-logo {
    display: none;
  }

}


@media screen and (min-width: 1920px) {
  .scale-content {
    transform: scale(0.75);
    transform-origin: 0 0;
    font-size: 0.75em;
    line-height: 1.33em;
  }
}

/* Styles for screens that are less than or equal to 1440px */
@media (max-width: 1440px) {
  .jumbotron h1 {
    font-size: 2em; /* Adjust as needed */
  }
  .jumbotron p {
    font-size: 1em; /* Adjust as needed */
  }
}

/* Styles for screens that are more than 1440px */
@media (min-width: 1441px) {
  .jumbotron h1 {
    font-size: 3em; /* Reset to the default */
  }
  .jumbotron p {
    font-size: 1em; /* Reset to the default */
  }
}