.navbar {
  background-color: #0004ff !important; /* Changing the background color of the navbar */
}
.navbar-brand {
  font-family: 'Anton', sans-serif; /* Applying the Anton font */
  font-size: 2em; /* Making the text bigger */
  color: white !important; /* Changing the font color to white */
}

body {
  background-color: #1F2334; /* Changing the background color to #1F2334 */
}

.jumbotron, .container, .footer {
  background-color: inherit; /* Ensuring these elements keep their original background color */
}

.jumbotron {
  color: white; /* Changing the text color to white */
}

.unique-github {
  margin-left: 15px; /* Adjust this value to move the logo more or less to the right */
}

.henvagdev-icon {
  padding-left: 0;
}

body {
  zoom: 2;
  background-color: #1F2334; /* Changing the background color to #1F2334 */
}

.arrow-icon {
  display: block;
  margin-left: 27px; /* Adjust this value to move the arrow more or less to the left */
  padding-top: 10px;
  height: 50px;
}

body {
  position: relative; /* Make the body position relative */
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
}

.footer {
  position: fixed; /* Make the footer position fixed */
  bottom: 0; /* Position the footer at the bottom */
  width: 100%; /* Make the footer take up the full width */
  background-color: #000000 !important; /* Changing the background color to black */
}

.spotify-section {
  position: fixed;
  right: 20px; /* Adjust this value to move the section more or less to the left */
  top: 15%; /* Adjust this value to move the section up or down */
}

.spotify-player {
  width: 300px;
  height: 380px;
}



@font-face {
  font-family: 'Circular';
  src: url('fonts/ProductSans-Black.ttf'); /* Update the URL to match the path to your font file */
}


#login {
  background-color: #1ed760; /* Spotify green color */
  color: black; /* Change the font color to black */
  border: none;
  padding: 8px 20px; /* Reduced padding to make the button smaller */
  text-align: center;
  text-decoration: none;
  display: block; /* Change to block to allow margins to center the button */
  font-size: 12px; /* Reduced font size to make the button smaller */
  margin: 20px auto; /* Increased top margin to move the button down and auto left and right margins to center it horizontally */
  cursor: pointer;
  border-radius: 25px; /* Slightly rounded corners */
  font-family: 'Circular', sans-serif; /* Apply the Circular font */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-content, .right-content {
  flex: 1;
}

.projects-button {
  margin-left: 100px; /* Adjust this value to move the button more or less to the right */
  font-family: 'Circular', sans-serif;
  color: black; /* Change the font color to black */
  background-color: #6e40f3; /* Change the background color to #6e40f3 */
}


.music-text {
  font-family: 'Roboto', sans-serif; /* This is the font used in the 'Student in Information Science at the University of Bergen' text */
  color: white; /* This will make the text color white */
  text-align: center; /* This will center the text */
}



.fade-out {
  transition: opacity 1s;
  opacity: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s;
}




.small-spotify-player {
  width: 150px;
  height: 250px;
}





.project {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6e40f3;;
}

.project img {
  width: 254px;
  height: 130px;
  display: block;
  margin: auto;
}




.project-info h2 {
  text-align: center;
  color: black;
  font: 16px 'Circular', sans-serif;

}

.project-info p {
  text-align: center;
  color: black;
  font: 12px 'Circular', sans-serif;

}








/* Mobile version down here*/


@media (max-width: 600px) {
  .spotify-player,
  body #login,
  .music-text {
    display: none;
  }
}



/* Style the dropdown button */
.dropbtn {
  background-color: #0004ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media (max-width: 600px) {
  .github-logo,
  .projects-logo {
    display: none;
  }

  .dropdown {
    display: block;
  }
}



